{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
		<style>
		
		</style>
	
		<title>NoHandsUp</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial scale=1">
	<meta name="description" content="NoHandsUp Attendance Monitor">
	<meta name="keywords" content="NoHandsUp, attendance, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->   
	<link href="{% static 'imgh/favicon.ico' %}" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'cssh/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!--link rel="stylesheet" href="{% static 'cssh/font-awesome.min.css' %}"/-->
	<!--link rel="stylesheet" href="{% static 'cssh/owl.carousel.css' %}"/-->
	<link rel="stylesheet" href="{% static 'cssh/style.css' %}"/>


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
		

</head>
<body>


    <!-- signup section -->
	<section class="signup-section spad">
		<div class="signup-bg set-bg"><img src="{% static 'imgh/signup-bg.jpg' %}" height="500" width="620"></div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6">
					<div class="signup-warp">
						<div class="section-title text-white text-left">
							<h2>About Us</h2>
							<p>NoHandsUp is our website to smartly monitor the attendance.It is a geo-location based attendance management system.It is secured by pre-trained Face Recognition models suitable for Classroom Environment . Gone are those days when teacher had to spend 10 minutes of his period calling out the names of students.Students alike teachers have 24x7 access to attendance register.</p><br>
							</p>
							<h3> <bold>Version 1.1 Coming Soon...</bold></h3>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- signup section end -->


	

	<!-- footer section -->
<footer class="footer-section spad pb-0">
	<div class="footer-top">
		<div class="footer-warp">
			<div class="row">
				
				<div class="widget-item">
					<h4>Institute Desk</h4>
					<ul>
						<li><a href="https://www.iitbhu.ac.in/dept/cse">Computer Science and Engineering </a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/ece">Electronics Engineering</a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/eee">Electrical Engineering</a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/mec">Mechanical Engineering</a></li>
						
					
						
					</ul>
				</div>
				<div class="widget-item">
					<h4>    </h4>
					<ul>
						<li><a href=""><br></a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/civ">Civil Engineering</a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/che">Chemical Engineering</a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/met">Metallurgy Engineering</a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/min">Mining Engineering</a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/cer">Ceramic Engeneering</a></li>
					</ul>
				</div>
				<div class="widget-item">
					<h4>    </h4>
					<ul>
						<li><a href=""><br></a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/phe">Pharmaceutical Engineering and Technology</a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/bce">Biochemical Engineering</a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/bme">Biomedical Engineering</a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/mst">Material Science and Technology</a></li>
					</ul>
				</div>
				<div class="widget-item">
					<h4>    </h4>
					<ul>
						<li><a href=""><br></a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/apd">Architecture,Planning and Design</a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/mat">Mathematical Sciences</a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/apc">Chemistry</a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/app">Physics</a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/hss">Humanistic Studies</a></li>
	
						
					</ul>
				</div>
				
				
				
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="footer-warp">
			<ul class="footer-menu">
				<li><a href="http://iitbhu.ac.in">Indian Institute of Technology (BHU) Varanasi</a></li>
				
			</ul>
			
	</div>
	
</footer> 
<!-- footer section end -->
</body>
</html>


