{% extends "base.html" %}
{% load static %}
{% block page_content %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>NoHandsUp</title>
	<meta charset="UTF-8">
	<meta name="description" content="NoHandsUp Attendance Monitor">
	<meta name="keywords" content="NoHandsUp, attendance, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->   
	<link href="{% static 'imgh/favicon.ico' %}" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'cssh/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'cssh/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'cssh/owl.carousel.css' %}"/>
	<link rel="stylesheet" href="{% static 'cssh/style.css' %}"/>


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<div class="site-logo">
						<img src="{% static 'imgh/logo.png' %}" alt="">
					</div>
					<div class="nav-switch">
						<i class="fa fa-bars"></i>
					</div>
				</div>
				<div class="col-lg-9 col-md-9">
					<a href="" class="site-btn header-btn">Login</a>
					<nav class="main-menu">
						<ul>
          <li class="nav-item active">
							<li><a href="{% url 'project_index' %}">Home</a></li>
							<li><a href="#">About us</a></li>
							
							<li><a href="contact.html">Contact</a></li>
							<li><a href="{% url 'register' %}">Sign Up</a></li>
						
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- Header section end -->


	<!-- Hero section -->
	<section class="hero-section set-bg" data-setbg="{% static 'imgh/bg.jpg' %}">
		<div class="container">
			<div class="hero-text text-white">
				<h2>Locate → Scan → Attended</h2>
				<p>Smart Attendance Monitor</p>
			</div>
			
		</div>
	</section>
	<!-- Hero section end -->


	<!-- categories section -->
	<section class="categories-section spad">
		<div class="container">
			<div class="section-title">
				<h2>Technologies Involved</h2>
				<p>Lorem </p>
			</div>
			<div class="row">
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'imgh/categories/1.jpg' %}"></div>
						<div class="ci-text">
							<h5>Face Scan</h5>
							<p>Lorem ipsum dolor sit amet, consectetur</p>
							<span>120 Courses</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'imgh/categories/2.jpg' %}"></div>
						<div class="ci-text">
							<h5>Web Design</h5>
							<p>Lorem ipsum dolor sit amet, consectetur</p>
							<span>70 Courses</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'imgh/categories/3.jpg' %}"></div>
						<div class="ci-text">
							<h5>Illustration & Drawing</h5>
							<p>Lorem ipsum dolor sit amet, consectetur</p>
							<span>55 Courses</span>
						</div>
					</div>
				</div>
				
				
				
			</div>
		</div>
	</section>
	<!-- categories section end -->

<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'jsh/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'jsh/bootstrap.min.js' %}"></script>
	<script src="{% static 'jsh/mixitup.min.js' %}"></script>
	<script src="{% static 'jsh/circle-progress.min.js' %}"></script>
	<script src="{% static 'jsh/owl.carousel.min.js' %}"></script>
	<script src="{% static 'jsh/main.js' %}"></script>
	
<!-- footer section -->
<footer class="footer-section spad pb-0">
	<div class="footer-top">
		<div class="footer-warp">
			<div class="row">
				<div class="widget-item">
					<h4>Contact Info</h4>
					<ul class="contact-list">
						<li>1481 Creekside Lane <br>Avila Beach, CA 931</li>
						<li>+53 345 7953 32453</li>
						<li>yourmail@gmail.com</li>
					</ul>
				</div>
				<div class="widget-item">
					<h4>Engeneering</h4>
					<ul>
						<li><a href="">Applied Studies</a></li>
						<li><a href="">Computer Engeneering</a></li>
						<li><a href="">Software Engeneering</a></li>
						<li><a href="">Informational Engeneering</a></li>
						<li><a href="">System Engeneering</a></li>
					</ul>
				</div>
				<div class="widget-item">
					<h4>Graphic Design</h4>
					<ul>
						<li><a href="">Applied Studies</a></li>
						<li><a href="">Computer Engeneering</a></li>
						<li><a href="">Software Engeneering</a></li>
						<li><a href="">Informational Engeneering</a></li>
						<li><a href="">System Engeneering</a></li>
					</ul>
				</div>
				<div class="widget-item">
					<h4>Development</h4>
					<ul>
						<li><a href="">Applied Studies</a></li>
						<li><a href="">Computer Engeneering</a></li>
						<li><a href="">Software Engeneering</a></li>
						<li><a href="">Informational Engeneering</a></li>
						<li><a href="">System Engeneering</a></li>
					</ul>
				</div>
				<div class="widget-item">
					<h4>Newsletter</h4>
					<form class="footer-newslatter">
						<input type="email" placeholder="E-mail">
						<button class="site-btn">Subscribe</button>
						<p>*We don’t spam</p>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="footer-warp">
			<ul class="footer-menu">
				<li><a href="#">Terms & Conditions</a></li>
				<li><a href="#">Register</a></li>
				<li><a href="#">Privacy</a></li>
			</ul>
			
	</div>
</footer> 
<!-- footer section end -->
</body>
</html>
{% endblock %}

