
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>NoHandsUp</title>
	<meta charset="UTF-8">
	<meta name="description" content="NoHandsUp Attendance Monitor">
	<meta name="keywords" content="NoHandsUp, attendance, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->   
	<link href="{% static 'imgh/favicon.ico' %}" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'cssh/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'cssh/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'cssh/owl.carousel.css' %}"/>
	<link rel="stylesheet" href="{% static 'cssh/style.css' %}"/>


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<div class="site-logo">
						<img src="{% static 'imgh/logo.png' %}" alt="">
					</div>
					<div class="nav-switch">
						<i class="fa fa-bars"></i>
					</div>
				</div>
				<div class="col-lg-9 col-md-9">
					<a href="{% url 'login' %}" class="site-btn header-btn">Login</a>
					<nav class="main-menu">
						<ul>
          <li class="nav-item active">
							<li><a href="{% url 'project_index' %}">Home</a></li>
							<li><a href="#">About us</a></li>
							
							<li><a href="contact.html">Contact</a></li>
							<li><a href="{% url 'register' %}">Sign Up</a></li>
						
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- Header section end -->


	<!-- Hero section -->
	<section class="hero-section set-bg" data-setbg="{% static 'imgh/bg.jpg' %}">
		<div class="container">
			<div class="hero-text text-white">
				<h2>Locate → Scan → Attended</h2>
				<p>Smart Attendance Monitor</p>
			</div>
			
		</div>
	</section>
	<!-- Hero section end -->


	<!-- categories section -->
	<section class="categories-section spad">
		<div class="container">
			<div class="section-title">
				<h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Technologies to be Involved</h2>
				<p> </p>
			</div>
			<div class="row">
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'imgh/categories/2.jpg' %}"></div>
						<div class="ci-text">
							<h5>GMaps</h5>
							<p></p>
							<span><br>Google has Spotted you...</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'imgh/categories/1.jpg' %}"></div>
						<div class="ci-text">
							<h5>Face Recognition</h5>
							<p></p>
							<span><br>You are Identified...</span>
						</div>
					</div>
				</div>
				
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="{% static 'imgh/categories/3.jpg' %}"></div>
						<div class="ci-text">
							<h5>Attendance Record</h5>
							<p></p>
							<span>Now Check your attendance 24X7...</span>
						</div>
					</div>
				</div>
				
				
				
			</div>
		</div>
	</section>
	<!-- categories section end -->

<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'jsh/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'jsh/bootstrap.min.js' %}"></script>
	<script src="{% static 'jsh/mixitup.min.js' %}"></script>
	<script src="{% static 'jsh/circle-progress.min.js' %}"></script>
	<script src="{% static 'jsh/owl.carousel.min.js' %}"></script>
	<script src="{% static 'jsh/main.js' %}"></script>
	
<!-- footer section -->
<footer class="footer-section spad pb-0">
	<div class="footer-top">
		<div class="footer-warp">
			<div class="row">
				
				<div class="widget-item">
					<h4>Institute Desk</h4>
					<ul>
						<li><a href="https://www.iitbhu.ac.in/dept/cse">Computer Science and Engineering </a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/ece">Electronics Engineering</a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/eee">Electrical Engineering</a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/mec">Mechanical Engineering</a></li>
						
					
						
					</ul>
				</div>
				<div class="widget-item">
					<h4>    </h4>
					<ul>
						<li><a href=""><br></a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/civ">Civil Engineering</a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/che">Chemical Engineering</a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/met">Metallurgy Engineering</a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/min">Mining Engineering</a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/cer">Ceramic Engeneering</a></li>
					</ul>
				</div>
				<div class="widget-item">
					<h4>    </h4>
					<ul>
						<li><a href=""><br></a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/phe">Pharmaceutical Engineering and Technology</a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/bce">Biochemical Engineering</a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/bme">Biomedical Engineering</a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/mst">Material Science and Technology</a></li>
					</ul>
				</div>
				<div class="widget-item">
					<h4>    </h4>
					<ul>
						<li><a href=""><br></a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/apd">Architecture,Planning and Design</a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/mat">Mathematical Sciences</a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/apc">Chemistry</a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/app">Physics</a></li>
						<li><a href="https://www.iitbhu.ac.in/dept/hss">Humanistic Studies</a></li>
	
						
					</ul>
				</div>
				
				
				
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="footer-warp">
			<ul class="footer-menu">
				<li><a href="http://iitbhu.ac.in">Indian Institute of Technology (Banaras Hindu University)</a></li>
				
			</ul>
			
	</div>
	<button id = "find-me">Show my location</button><br/>
<p id = "status"></p>
<a id = "map-link" target="_blank"></a>

<script src= "text/Javascripts" >
	function geoFindMe() {

		const status = document.querySelector('#status');
		const mapLink = document.querySelector('#map-link');
	  
		mapLink.href = '';
		mapLink.textContent = '';
	  
		function success(position) {
		  const latitude  = position.coords.latitude;
		  const longitude = position.coords.longitude;
	  
		  status.textContent = '';
		  mapLink.href = `https://www.openstreetmap.org/#map=18/${latitude}/${longitude}`;
		  mapLink.textContent = `Latitude: ${latitude} °, Longitude: ${longitude} °`;
		}
	  
		function error() {
		  status.textContent = 'Unable to retrieve your location';
		}
	  
		if (!navigator.geolocation) {
		  status.textContent = 'Geolocation is not supported by your browser';
		} else {
		  status.textContent = 'Locating…';
		  navigator.geolocation.getCurrentPosition(success, error);
		}
	  
	  }
	  
	  document.querySelector('#find-me').addEventListener('click', geoFindMe);
</script>
</footer> 
<!-- footer section end -->
</body>
</html>


